/* Footer */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 40px;
    
}
/* Header  Ctrl + L  Ctrl + / for comment*/   
header{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 24px;
    font-weight: bold;


}

nav{
    display: flex;
    gap: 30px;
}
nav a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

/* Hero Section */
.hero{
    background-color:#1F2937;
    color:#F9FAF8;
    padding: 100px 200px;
    display: flex;
    gap: 50px;
    align-items: center;

}

.hero-content{
    flex: 1;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-image{
    flex: 1;
    background-color: #6d7a86;

    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;

}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor:pointer;
}
/* Informaiton Section */
.information{
    padding: 80px 200px;
    text-align:center;
}

.information h2{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
.cards{
    display:flex;
    gap: 30px;
    justify-content: center;
}
.card{
    text-align:center;
    max-width: 200px;

}

.card-image{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;

}
.card p{
    color:#1F2937;
    font-size: 18px;
}

.qoute{
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.qoute p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
}

.qoute-author{
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    
}